@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap');


*{
  box-sizing: border-box;
}
/*general styles */
:root{
   --box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
body{
   margin: 0;
   padding: 0;
   font-family: 'Open sans',sans-serif;
   font-size: 1.15rem;
}
h1,h2{
  font-family: 'Poppins',sans-serif;
}
p{
  opacity: 0.8;
}
img{
  max-width: 100%;
}
.btn{
   padding: 15px 60px;
   border-radius:50px;
   background-color: #fff;
   font-size: 16px;
   border: none;
   font-weight: 700;
   box-shadow: var(--box-shadow);
   cursor: pointer;
}
.btn-primary{
  background-color:hsl(322, 100%, 66%);
  color:#fff;
}
.container{
     max-width: 100%;
     width: 1000px;
     padding:0 20px;
     margin:0 auto;
}
.center{
  text-align: center;
}
.flex{
  display: flex;
  align-items: center;
}
.flex > div{
  flex: 1;
}
.align-start{
  align-items: flex-start;
}
/*header*/
header{
  background-image: url('./images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center;
  background-color: hsl(193, 100%, 96%);
  padding: 40px 0;
}
nav{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
/*main content*/
.box{
  box-shadow: var(--box-shadow);
  border-radius:10px;
  margin: 30px;
  padding: 60px;
  background-color: #fff;
}
.box img,.header-img{
  width: 80%;
  margin-left: 15%;
}

.small-box{
  display: inline-block;
  margin-bottom: -50%;
  position: relative;
  z-index: 1;
}

/*footer*/
footer{
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 180px 0 60px;
}
footer ul{
  list-style: none;
}
footer ul li{
  margin-bottom: 10px;
}

footer .center{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 0.6rem;
  border: 1px solid #fff;
  text-decoration: none;
}
footer .social-media{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  text-align: right;
}
/* making it responsive */
@media (max-width:765px){
  body{
    text-align: center;
  }
  nav.flex{
    flex-direction: row;
  }
  .header-img{
    margin-top:30px;
    margin-left: 0;
    width: 90%;
  }
  .flex{
    flex-direction: column;
  }
  .box-reverse-mobile{
    flex-direction: column-reverse;
  }
  footer ul{
    text-align: center;
    width: 100%;
  }
  footer p{
    text-align: center;
  }
}